@import "bourbon";
@import "font-awesome";

body {
   .mainContainer {
      width: 1250px;
      height: 1100px;
      position: relative;
      
      .backgroundImage {
      background: no-repeat center center fixed;
      background-size: cover;
      min-height: 100%;
      min-width: 1024px;
      width: 100%;
      height: auto;
      position: fixed;
      top: 0;
      left: 0;
       }

         //for Level 2
        .gameElements2 {
          display: flex;
          flex-direction: row;
          position: fixed;
          font-family: 'Candal', sans-serif;
          color: #2c003a;
          padding: 100px;
          .title2 {
            margin-top: -70px;
            margin-left: 450px;
            font-size: 30px;
            
          }
          
          .goodGuy2 {
            margin-top: 100px;
            margin-left: 100px;
            font-size: 20px;
          }

            button2{   
              margin-top: 235px;
              margin-left: 30px;
              border-radius: 15px;
              background-color: #426876;
            }
          
          .badGuy2 {
            margin-top: 77px;
            margin-left: 30px;

          }
        }


    }
    
  }
 





